*
{
    margin: 0px;
    padding: 0px;
    
}

body {
    background-image: url("B.jpg");
    background-color: #cccccc; 
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;


}
  
  
.box{
    background-color:#e2ea4aef;
    height: fit-content;
    width: fit-content;
    font-family: cursive;
    box-sizing: border-box;
}

.heading{
    color: black;
    text-align: center;
}
.h1{
    font-size: 50px;
}
button{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
    color: rgb(203, 191, 170);
    cursor: pointer;

    
}